# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor
.vscode/
.idea/

# Vercel deployment metadata
.vercel/

# Scratch & test scripts
scratch/

.vercel
